.bigDiv {
    width:78%;
    margin-left:10.25%;
    height:auto;

}
.rankingLeft{
    width:96%;
    height:400px;
    margin-bottom: 0;
    margin-left:2%;
    margin-right:2%;
}
.total{
    border:1px solid lightgray;
    background-color:white;
}
.bigDivv{
    width:83%;
    margin-left:9.5%;
    margin-right:7.5%;
}
.rightGraph{
    width:96%;
    height:400px;
    margin-bottom:0;
    margin-left:2%;
    margin-right:2%;
}