<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-table.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='semantic/semantic.min.css') }}">
    <script src="{{ url_for('static',filename='echarts.js') }}"></script>
    <title>
        {% block title %}
        {% endblock %} | 直播弹幕大数据分析
    </title>

    <style>
        body {
            padding: 1em;
            background: rgba(76, 79, 82, 0.1);
        / /
        }

        .ui.menu {
            /* margin: 3em 0em; */
            width: 80%;
            position: relative;
            left: 10%;
            background: image("{{ url_for('static',filename='images/header.psd') }}")
        }

        .ui.menu:last-child {
            margin-bottom: 110px;
        }

        .maincontent {
            position: relative;
        {#top: 2%;#}
        }

    </style>


    {% block css %}
    {% endblock %}
</head>
<body>

<div class="ui menu" id="daoHang">
    <img src="{{ url_for('static',filename='images/small-logo.png') }}" class="logo-image ui image">
    <a id="homepage" href="{{ url_for('home') }}" class="item"><h3 style="display:inline">直播</h3></a>
    <a id="cate" href="{{ url_for('cate_index') }}" class="item"><h3 style="display:inline">分类</h3></a>
    <a class="item" href="{{ url_for('ranking') }}"><h3 style="display:inline">排行榜</h3></a>
    <a class="item" href="{{ url_for('totalStatistics') }}"><h3 style="display:inline">统计</h3></a>
    <a class="item" href="{{ url_for('compare') }}"><h3 style="display:inline">对比</h3></a>

    {#    <a id="graph" class="item"><h3 style="display:inline">图数据</h3></a>#}
    {#    <a class="item"><h3 style="display:inline">推荐</h3></a>#}
    <div class="right menu">
        <div class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="房间ID/主播ID">
                <button class="ui button">搜索</button>
            </div>
        </div>
        {#        <a id="login" class="item">login</a>#}
    </div>
</div>

<div class="maincontent">
    {% block content %}
    {% endblock %}
</div>

<script src="{{ url_for('static',filename='semantic/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='semantic/semantic.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap-table.min.js') }}"></script>

{% block script %}

{% endblock %}
</body>
</html>