{% extends 'base.html' %}

{% block content %}
    <div class="ui stackable centered five column grid">

    </div>

    {#    <div class="ui stackable centered one column grid">#}
    <div>
        <ul class="pagination" id="page">
        </ul>
        <div class="pageJump">
            <span>跳转到</span>
            <input type="text"/>
            <span>页</span>
            <button type="button" class="button">确定</button>
        </div>
    </div>
    {#	</div>#}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pager.css') }}">
    <style>
        .pagination {
            position: relative;
            left: 27%;
        }

        .pageJump {
            position: relative;
            left: 27%;
        }

        .ui.stackable.five.column.grid {
            margin: auto;
            width: 80%;
        }

        .ui.stackable.five.column.grid .column.main .info-continer {
            text-decoration: none;
            border-radius: 5px;
            box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
            position: relative;
            cursor: pointer;
        }

        .ui.stackable.five.column.grid .column.main .info-continer {
            background: white;
        }

        .ui.stackable.five.column.grid .column.main img {
            width: 100%;

            border-radius: 5px 5px 0px 0px;
        }

        .ui.stackable.five.column.grid .column.main .info {
            margin: auto;
            color: grey;

        }

        .ui.stackable.five.column.grid .column.main .info .cate a {

            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            color: grey;
        }

    </style>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static',filename='js/pager.js') }}"></script>
    <script>
        function showCateItem(object) {
            $(".ui.stackable.five.column.grid").append(
                '<div class="column main">' +
                '<div class="ui link card info-continer" id="' + object.url + '">' +
                {#'<div class="image">' +#}
                '<img src=' + object.img + '>' +
                {#'</div>' +#}
                '<div class="info">' +
                '<div class="cate">' +
                '<a href="">' + object.name + '</a>' +
                '</div>' +
                '<span>' +
                '<i class="toggle right icon" style="color: black"></i>' +
                '<span class="type">' + object.roomCount + '</span>' +
                '</span>' +
                '</div>' +
                '</div>' +
                '</div>'
            );
            $('.info-continer').click(function () {
                var url = $(this).attr("id");
                location.href = url;
            });
        }

        function init_page(cnt) {
            Page({
                num: cnt,					//页码数
                startnum: 1,				//指定页码
                elem: $('#page'),		//指定的元素
                callback: function (n) {	//回调函数
                    $.ajax({
                        async: false,
                        type: "GET",
                        async: false,
                        url: "/api/cate/" + n,
                        dataType: "json",
                        success: function (page) {
                            $(".column.main").remove();
                            $.each(page.data, function (i, object) {
                                showCateItem(object);
                            });
                            $('.info-continer').click(function () {
                                var url = $(this).attr("id");
                                location.href = url;
                            });
                        },
                        error: function () {
                            alert("error");
                        },
                    });
                }
            });
        }

        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/cate/1",
                async: false,
                dataType: "json",
                success: function (page) {
                    $(".column.main").remove();
                    $.each(page.data, function (i, object) {
                        showCateItem(object);
                    });
                    init_page(page.page_cnt);
                },
                error: function () {
                    alert("error");
                },
            });


        });


    </script>
{% endblock %}
