{% extends 'base.html' %}

{% block content %}
    <div class="ui stackable centered five column grid">
        <div class="sixteen wide center aligned column">
            <a class="ui red label">全部</a>
            <a class="ui orange label">热门游戏</a>
            <a class="ui yellow label">王者荣耀</a>
            <a class="ui olive label">客厅游戏</a>
            <a class="ui green label">炉石传说</a>
            <a class="ui teal label">唱歌</a>
            <a class="ui blue label">科技</a>
            <a class="ui violet label">搞笑</a>
            <!-- <a class="ui purple label">紫色</a>
                <a class="ui pink label">粉色</a>
                <a class="ui brown label">褐色</a>
                <a class="ui grey label">灰色</a>
                <a class="ui black label">Black</a> -->
        </div>
    </div>

    {#    <div class="ui stackable centered one column grid">#}
    <div>
        <ul class="pagination" id="page">
        </ul>
        <div class="pageJump">
            <span>跳转到</span>
            <input type="text"/>
            <span>页</span>
            <button type="button" class="button">确定</button>
        </div>
    </div>
    {#	</div>#}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pager.css') }}">
    <style>
        .pagination {
            position: relative;
            left: 27%;
        }

        .pageJump {
            position: relative;
            left: 27%;
        }

        body {
            padding: 1em;
            background: rgba(76, 79, 82, 0.07);
        }

        .ui.stackable.five.column.grid {
            margin: auto;
            width: 80%;
        }

        .ui.stackable.five.column.grid .column.main {
            width: 232px;
            height: 240px;
            margin-right: 20px;
            margin-bottom: 30px;
            padding: 0px;
        }

        .ui.stackable.five.column.grid .column.main .info-continer {
            width: 232px;
            height: 240px;
            background: white;
            text-decoration: none;
            border-radius: 5px;
            box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
            position: relative;
            cursor: pointer;
        }

        .ui.stackable.five.column.grid .column.main .info {
            position: relative;
            width: 200px;
            color: grey;
            left: 20px;
            margin: 0px;
            margin-bottom: 5px;
        }

        .ui.stackable.five.column.grid .column.main .info .room span {
            position: relative;
            left: 5px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            color: #111;
        }

        .ui.stackable.five.column.grid .column.main .info .room {
            position: relative;
            margin: auto;
            height: 40px;
            top: 11px;
            bottom: 9px;
            font-size: 19px;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
            white-space: nowrap;

        }

        .ui.stackable.five.column.grid .column.main .info .type, .users-num, .username, .bullets-num {
            position: relative;
            left: 30px
        }

        .ui.stackable.five.column.grid .column.main .image {
            width: 232px;
            height: 130px;
            overflow: hidden;

        }

        .ui.stackable.five.column.grid .column.main .image img {
            width: 232px;
        {#height: 130px;#} odject-fit: cover;
            border-radius: 5px 5px 0px 0px;
        }

        .sixteen.wide.center.aligned.column a {
            width: 100px;
            /* padding-left: 20px; */
            margin-bottom: 10px;
        }

    </style>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static',filename='js/pager.js') }}"></script>
    <script>

        function showItem(object) {
            $(".ui.stackable.five.column.grid").append(
                '<div class="column main">' +
                '<div class="ui link card info-continer">' +
                '<div class="image">' +
                '<img src=' + object.img + '>' +
                '</div>' +
                '<div class="info">' +
                '<div class="room">' +
                '<a href="">' + object.roomName + '</a>' +
                '</div>' +
                '<span>' +
                '<i class="user icon" style="color: purple"></i>' +
                '<span class="username">' + object.nickName + '</span>' +
                '</span>' +
                '<br>' +
                '<span>' +
                '<i class="heartbeat icon" style="color: red"></i>' +
                '<span class="type">' + object.cate + '</span>' +
                '</span>' +
                '<br>' +
                '<span>' +
                '<i class="users icon"  style="color:darkblue"> </i>' +
                '<span class="users-num">' + object.online + '</span>' +
                '</span>' +
                '</div>' +
                '</div>' +
                '</div>'
            )
        }

        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/live/1",
                dataType: "json",
                success: function (page) {
                    $(".column.main").remove();
                    page_cnt = page.page_cnt;
                    $.each(page.data, function (i, object) {
                        showItem(object)
                    });
                },
                error: function () {
                    alert("error");
                },
            });

        });
        Page({
            num: 487,					//页码数
            startnum: 1,				//指定页码
            elem: $('#page'),		//指定的元素
            callback: function (n) {	//回调函数
                $.ajax({
                    type: "GET",
                    url: "/api/live/" + n,
                    dataType: "json",
                    success: function (page) {
                        $(".column.main").remove();
                        $.each(page.data, function (i, object) {
                            {#if(object.cid==id)#}
                            showItem(object)
                        });

                        $('.info-continer').click(function () {
                            var pn = $(this).attr("id");
                            location.href = pn;
                        })
                    },
                    error: function () {
                        alert("error");
                    },
                });
            }
        });

    </script>
{% endblock %}
