<!-- <!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Douyu弹幕分析</title>

    <link rel="stylesheet" type="text/css" href="resource/lib/semantic.css">
    <script src="resource/lib/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="resource/lib/semantic.js"></script>
    <style>
        body {
            padding: 1em;
        }
    </style> -->
<!-- </head>

<body>
   
</body>

</html> -->
<style>
    .sixteen.wide.center.aligned.column a {
        width: 100px;
        /* padding-left: 20px; */

    }

    .center.aligned.five.column.row img {
        width: 80%
    }

</style>
<div class="ui grid">
    <div class="sixteen wide center aligned column">
        <a class="ui red label">全部</a>
        <a class="ui orange label">热门游戏</a>
        <a class="ui yellow label">王者荣耀</a>
        <a class="ui olive label">客厅游戏</a>
        <a class="ui green label">炉石传说</a>
        <a class="ui teal label">唱歌</a>
        <a class="ui blue label">科技</a>
        <a class="ui violet label">搞笑</a>
        <!-- <a class="ui purple label">紫色</a>
        <a class="ui pink label">粉色</a>
        <a class="ui brown label">褐色</a>
        <a class="ui grey label">灰色</a>
        <a class="ui black label">Black</a> -->
    </div>
    <div class="center aligned seven column row">
        <div class="column"></div>
        <div class="column">
            <img src="../static/images/lushi.jpeg">
            <div class="info-continer">
                <div class="info" style="width:80%;background:grey">
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">炉石传说</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <img src="../static/images/dota.jpg">
            <div class="info-continer">
                <div class="info">
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">DOTA</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <img src="../static/images/nongyao.jpg">
            <div class="info-continer">
                <div class="info">
                    
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">王者荣耀</span>
                    </span>

                </div>
            </div>
        </div>
        <div class="column">
            <img src="../static/images/lushi.jpeg">
            <div class="info-continer">
                <div class="info" style="width:80%;background:grey">
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">炉石传说</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <img src="../static/images/nongyao.jpg">
            <div class="info-continer">
                <div class="info">
            
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">王者荣耀</span>
                    </span>

                </div>
            </div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <img src="../static/images/lushi.jpeg">
            <div class="info-continer">
                <div class="info" style="width:80%;background:grey">
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">炉石传说</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <img src="../static/images/dota.jpg">
            <div class="info-continer">
                <div class="info">
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">DOTA</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <img src="../static/images/nongyao.jpg">
            <div class="info-continer">
                <div class="info">
        
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">王者荣耀</span>
                    </span>

                </div>
            </div>
        </div>
        <div class="column">
            <img src="../static/images/lushi.jpeg">
            <div class="info-continer">
                <div class="info" style="width:80%;background:grey">
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">炉石传说</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <img src="../static/images/nongyao.jpg">
            <div class="info-continer">
                <div class="info">
        
                    <span>
                        <i class="heartbeat icon"></i>
                        <span class="type">王者荣耀</span>
                    </span>

                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>

</div>
