{% extends 'base.html' %}

{% block content %}

    <div class="ui centered grid">
        <div class="four column centered row">
            <div class="four wide column">
                <a class="ui red tag label" style="text-overflow: ellipsis">{{ name }}</a>
            </div>
{#            <div class="four wide column">#}
{#                <a class="ui teal tag label">实时用户数:<span id="userCount">0</span></a>#}
{#            </div>#}
            <div class="four wide column">
                <a class="ui teal tag label">实时弹幕数:<span id="danmuCount">0</span></a>
            </div>
            <div class="four wide column">
                <a class="ui teal tag label">实时礼物数:<span id="giftCount">0</span></a>
            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="column video">
            <canvas id="canvasBarrage">
            </canvas>
            <video id="videoElement" class="centeredVideo" height="625" autoplay>
                Your browser is too old which doesn't support HTML5 video.
            </video>
        </div>
    </div>

    {#    <div class="ui two column centered grid">#}
    {#        <div class="six wide centered column">#}
    {#            <div class="ui raised segment">#}
    {#                <a class="ui red ribbon label">实时用户数</a>#}
    {#                <p>Account Details</p>#}
    {#                <a class="ui blue ribbon label">实时单弹幕数</a>#}
    {#                <p>Account Details</p>#}
    {#                <a class="ui teal ribbon label">实时收入</a>#}
    {#                <p>Account Details</p>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="six wide centered column">#}
    {#            <div class="ui segment">#}
    {#                <a class="ui orange right ribbon label">实时热词</a>#}
    {#                <p>Account Details</p>#}
    {#                <p>Account Details</p>#}
    {#                <p>Account Details</p>#}
    {#                <p>Account Details</p>#}
    {#                <p>Account Details</p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="ui centered grid">
        <div id="myChart" style="width: 800px; height: 200px"></div>
    </div>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static',filename='js/flv.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/stomp.min.js') }}"></script>
    <script>
        $(function () {
            $.getJSON("/api/stream/{{ rid }}", function (data) {
                {#console.log(data);#}
                if (data.code === 0 && flvjs.isSupported()) {
                    var videoElement = document.getElementById('videoElement');
                    var flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        isLive: true,
                        url: data.url // http://tc-tct.douyucdn.cn/dyliveflv1a
                    });
                    flvPlayer.attachMediaElement(videoElement);
                    flvPlayer.load();
                    flvPlayer.play();
                }
            })
        });

        var CanvasBarrage = function (canvas, video, options) {
            if (!canvas || !video) {
                return;
            }
            var defaults = {
                opacity: 100,
                fontSize: 24,
                speed: 2,
                range: [0, 1],
                color: 'black',
                data: []
            };

            options = options || {};

            var params = {};
            for (var key in defaults) {
                if (options[key]) {
                    params[key] = options[key];
                } else {
                    params[key] = defaults[key];
                }

                this[key] = params[key];
            }
            var top = this;
            var data = top.data;

            if (!data || !data.length) {
                return;
            }

            var context = canvas.getContext('2d');
            canvas.width = canvas.clientWidth;
            canvas.height = canvas.clientHeight;

            var store = {};

            var isPause = true;
            var time = video.currentTime;

            var fontSize = 28;
            var Barrage = function (obj) {
                this.value = obj.value;
                this.time = obj.time;
                this.init = function () {
                    var speed = top.speed;
                    if (obj.hasOwnProperty('speed')) {
                        speed = obj.speed;
                    }
                    if (speed !== 0) {
                        speed = speed + obj.value.length / 100;
                    }
                    var fontSize = obj.fontSize || top.fontSize;
                    var color = obj.color || top.color;
                    color = (function () {
                        var div = document.createElement('div');
                        div.style.backgroundColor = color;
                        document.body.appendChild(div);
                        var c = window.getComputedStyle(div).backgroundColor;
                        document.body.removeChild(div);
                        return c;
                    })();
                    var range = obj.range || top.range;
                    var opacity = obj.opacity || top.opacity;
                    opacity = opacity / 100;
                    var span = document.createElement('span');
                    span.style.position = 'absolute';
                    span.style.whiteSpace = 'nowrap';
                    span.style.font = 'bold ' + fontSize + 'px "microsoft yahei", sans-serif';
                    span.innerText = obj.value;
                    span.textContent = obj.value;
                    document.body.appendChild(span);
                    this.width = span.clientWidth;
                    document.body.removeChild(span);
                    this.x = canvas.width;
                    if (speed == 0) {
                        this.x = (this.x - this.width) / 2;
                    }
                    this.actualX = canvas.width;
                    this.y = range[0] * canvas.height + (range[1] - range[0]) * canvas.height * Math.random();
                    if (this.y < fontSize) {
                        this.y = fontSize;
                    } else if (this.y > canvas.height - fontSize) {
                        this.y = canvas.height - fontSize;
                    }

                    this.moveX = speed;
                    this.opacity = opacity;
                    this.color = color;
                    this.range = range;
                    this.fontSize = fontSize;
                };

                this.draw = function () {
                    context.shadowColor = 'rgba(0,0,0,' + this.opacity + ')';
                    context.shadowBlur = 2;
                    context.font = this.fontSize + 'px "microsoft yahei", sans-serif';
                    if (/rgb\(/.test(this.color)) {
                        context.fillStyle = 'rgba(' + this.color.split('(')[1].split(')')[0] + ',' + this.opacity + ')';
                    } else {
                        context.fillStyle = this.color;
                    }
                    context.fillText(this.value, this.x, this.y);
                };
            };

            data.forEach(function (obj, index) {
                store[index] = new Barrage(obj);
            });
            var draw = function () {
                for (var index in store) {
                    var barrage = store[index];

                    if (barrage && !barrage.disabled && time >= barrage.time) {
                        if (!barrage.inited) {
                            barrage.init();
                            barrage.inited = true;
                        }
                        barrage.x -= barrage.moveX;
                        if (barrage.moveX == 0) {
                            barrage.actualX -= top.speed;
                        } else {
                            barrage.actualX = barrage.x;
                        }
                        if (barrage.actualX < -1 * barrage.width) {
                            barrage.x = barrage.actualX;
                            barrage.disabled = true;
                        }
                        barrage.draw();
                    }
                }
            };
            var render = function () {
                time = video.currentTime;
                context.clearRect(0, 0, canvas.width, canvas.height);
                draw();
                if (isPause == false) {
                    requestAnimationFrame(render);
                }
            };
            video.addEventListener('play', function () {
                isPause = false;
                render();
            });
            video.addEventListener('pause', function () {
                isPause = true;
            });
            video.addEventListener('seeked', function () {
                top.reset();
            });

            this.add = function (obj) {
                store[Object.keys(store).length] = new Barrage(obj);
            };

            this.reset = function () {
                time = video.currentTime;
                context.clearRect(0, 0, canvas.width, canvas.height);
                for (var index in store) {
                    var barrage = store[index];
                    if (barrage) {
                        barrage.disabled = false;
                        if (time < barrage.time) {
                            barrage.inited = null;
                        } else {
                            barrage.disabled = true;
                        }
                    }
                }
            };
        };
        var dataBarrage = [{
            value: '',//初始化/
            time: 1, // 单位秒
            speed: 0
        }]
        var eleCanvas = document.getElementById('canvasBarrage');
        var eleVideo = document.getElementById('videoElement');
        var demoBarrage = new CanvasBarrage(eleCanvas, eleVideo, {
            data: dataBarrage
        });

        var ws = new WebSocket("ws://" + window.location.hostname + ":15674/ws");
        var client = Stomp.over(ws);

        client.debug = function (m) {

        };
        var flag = true;
        var on_connect = function (x) {
            id = client.subscribe("/topic/stream.room.{{ rid }}", function (m) {
                var doc = JSON.parse(m.body);
                if (doc.type === 'chatmsg') {

                    if (Math.ceil(Math.random() * 10) % 3 === 0) {

                        var color = '#FFF';
                        var polarity = doc['emotPolarity'];

                        if (polarity < 0) {
                            color = '#F00';
                        } else if (polarity > 0) {
                            color = '#0F0';
                        }


                        {#console.log(doc['emotValue']+doc['content']);#}
                        var tmp1 = {
                            value: doc.content,
                            time: eleVideo.currentTime,
                            range: [0, 0.5],
                            color: color,
                            // 其它如color, fontSize, opacity等可选
                        }
                        var tmp2 = {
                            value: doc.content,
                            time: eleVideo.currentTime,
                            range: [0.5, 1],
                            color: '#FFF',
                            // 其它如color, fontSize, opacity等可选
                        }
                        switch (flag) {
                            case true:
                            {#console.log(tmp1);#}
                                demoBarrage.add(tmp1);
                                flag = false
                                break;
                            case false:
                            {#console.log(tmp2);#}
                                demoBarrage.add(tmp2);
                                flag = true
                                break;
                        }
                    }
                }
            });
        };

        var on_error = function () {
            console.log('error');
        };

        client.connect('guest', 'guest', on_connect, on_error, '/');

        window.setInterval(function () {
            $.ajax({
                url: "{{ url_for( 'api_danmu_keep_alive',rid=rid) }}",
                dataType: 'json',
                success: function (res) {

                }
            })
        }, 10 * 1000); // 保持弹幕爬虫持续开启

    </script>


    <script>
        function showLiveAcc() {
            var ws = new WebSocket("ws://" + window.location.hostname + ":15674/ws");
            var client = Stomp.over(ws);

            client.debug = function (m) {

            };
            var on_connect = function (x) {
                var id = client.subscribe("/topic/acc.room.{{ rid }}", function (m) {
                    var doc = JSON.parse(m.body);

                    $("#danmuCount").text(doc.danmu);
                    {#$("#userCount").text(doc.user);#}
                    $("#giftCount").text(doc.gift);
                });
            };

            var on_error = function () {
                console.log('error');
            };

            client.connect('guest', 'guest', on_connect, on_error, '/');
        }

        showLiveAcc();
    </script>

{% endblock %}


{% block css %}

    <style>
        .centeredVideo {
            width: 100%;
        }

        #canvasBarrage {
            width: 1100px;
            height: 640px;
            position: absolute;
            top: 12px;
            left: 17%;
        }
    </style>

{% endblock %}