{% extends 'base.html' %}

{% block content %}
    <div class="bigDivv" style="height:910px;">
        <div class="row total" style="height:100px;margin-bottom:20px;width: 96.5%;margin-left:0.25%">
            <div class="col-md-12" style="margin-top:30px;width:70%;">
                <div class="col-md-3">
                    <label style="margin-left:50px;margin-top:10px;">Paking Time:</label>
                </div>
                <div class="from-group col-md-4">

                    <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" style="height:20px;">
                        <input id="inputt" class="form-control" value="2017-12-14" size="12" type="text" value=""
                               readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value=""/><br/>
                </div>
                <div class="from-group col-md-5">

                    <button class="ui red button" id="btn3"
                            onclick="initSite($('#inputt').val())">
                        确认
                    </button>
                </div>
            </div>

        </div>

        <div class="row" style="height:360px;width:100%;margin-bottom:20px">
            <div class="col-md-12" style="height:360px;">
                <div id="graph1" class="total" style="width:100%;height:350px;padding-top:10px;">

                </div>
            </div>
        </div>

        <div class="row" style="width:100%;margin-bottom:20px">
            <div class="col-md-12">
                <div id="graph5" class="total" style="width:100%;height:500px;padding-top:10px;">

                </div>
            </div>
        </div>

        <div class="row" style="width:100%;margin-bottom:20px">
            <div class="col-md-12">
                <div id="graph8" class="total" style="width:100%;height:500px;padding-top:10px;">

                </div>
            </div>
        </div>

        <div class="row" style="height:360px;width:100%;">
            <div class="col-md-6" style="height: 360px">
                <div id="graph4" class="total" style="width:100%;height:350px;padding-top:10px;">

                </div>
            </div>
            <div class="col-md-6 " style="height:360px;">
                <div id="graph2" class="total" style="width:100%;height:350px;">

                </div>
            </div>

        </div>

        <div class="row" style="width:100%;">
            <div class="col-md-6">
                <div id="graph6" class="total" style="width:100%;height:300px;padding-top:10px;">

                </div>
            </div>

            <div class="col-md-6">
                <div id="graph7" class="total" style="width:100%;height:300px;padding-top:10px;">

                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pager.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static',filename='js/statistics.js') }}"></script>
    <script type="text/javascript">
        $('.ui.labeled.icon.sidebar').sidebar('toggle');
        $('.form_date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            startDate: "2017-10-01"
        });
    </script>

{% endblock %}