    {% extends 'base.html' %}

    {% block content %}
        <div class="bigDiv" id="chooseDate" class="ui grid">
           <div class="row">
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h3 class="panel-title">主播排行榜</h3>
                           <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>

                           </div>
                       </div>
                       <div class="panel-body" style="display:block;">
                           <div class="tab-wrapper tab bottom tab-primary" id="tabss">
                               <div class="tab-content" style="height:auto">
                                  <div class="tab-pane active" id="tab1" style="height:500px;width:100%;border:darkgray">
                                      <div class="row"style="margin-right:5%">
                                          <div class="from-group col-md-9">
                                              <label>Date Picking:</label>
                                              <div class="input-group date form_date" data-date=""  data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                              <input class="form-control" value="2017-10-01" size="16" type="text" value="" readonly>
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                              </div>
                                              <input type="hidden" id="dtp_input2" value="" /><br/>
                                          </div>

                                      </div>
                                      <div class="row">
                                           <div class="rankingLeft" id="leftRankingOne">

                                              </div>
                                      </div>
                                  </div>
                                   <div class="tab-pane active" id="tab2" style="display:none;height:500px;width:100%;border:darkgray">

                                      <div class="row">
                                          <div class="from-group" style="margin-left:2%;margin-right:5%">
                                              <div class="col-md-6">
                                                   <label>Start Date Picking:</label>
                                                   <div class="input-group date form_date" data-date=""  data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                        <input class="form-control" value="2017-10-01" size="16" type="text" value="" readonly>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                   </div>
                                                   <input type="hidden" id="dtp_input2" value="" /><br/>
                                              </div>
                                              <div class="col-md-6">
                                                  <label>End Date Picking:</label>
                                                  <div class="input-group date form_date" data-date=""  data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                        <input class="form-control" value="2017-10-01" size="16" type="text" value="" readonly>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                  </div>
                                                  <input type="hidden" id="dtp_input2" value="" /><br/>
                                              </div>
                                          </div>
                                          <div class="from-group" >
                                              <div id="leftRankingTwo">

                                              </div>

                                          </div>
                                      </div>
                                   </div>
                               </div>
                               <ul class="nav nav-tabs">
                                   <li class="active">
                                       <a href="#tab1" data-toggle="tab" onclick="changeTab(1)">一天</a>
                                   </li>
                                    <li class="">
                                       <a href="#tab2" data-toggle="tab" onclick="changeTab(2)">一段时间</a>
                                   </li>

                               </ul>
                           </div>

                       </div>
                   </div>

                       </div>
           </div>
           <div class="row">
               <div class="col-md-7">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h3 class="panel-title">用户排行榜</h3>
                            <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>

                           </div>
                       </div>
                       <div class="panel-body" style="display:block;">
                           <div class="tab-wrapper tab bottom tab-primary">
                               <div class="tab-content" style="height:auto">
                                   <div class="tab-pane active" id="tab1D" style="height:500px;width:100%;border:darkgray" >

                                   </div>
                                   <div class="tab-pane active" id="tab2D" style=" display:none;height:500px;width:100%;border:darkgray">

                                   </div>
                                    <div class="tab-pane active" id="tab3D" style=" display:none;height:500px;width:100%;border:darkgray">

                                   </div>

                               </div>
                               <ul class="nav nav-tabs">
                                   <li class="active">
                                       <a href="#tab1D" data-toggle="tab" onclick="">花费排名</a>
                                   </li>
                                    <li class="">
                                       <a href="#tab2D" data-toggle="tab" onclick="">礼物排名</a>
                                   </li>
                                    <li class="">
                                       <a href="#tab3D" data-toggle="tab" onclick="">弹幕排名</a>
                                   </li>

                               </ul>
                           </div>

                       </div>

                   </div>

               </div>
               <div class="col-md-5">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h3 class="panel-title">类别排行榜</h3>
                            <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>

                           </div>
                       </div>
                       <div class="panel-body" style="display:block;">
                           <div class="tab-wrapper tab bottom tab-primary">
                               <div class="tab-content" style="height:auto">
                                   <div class="tab-pane active" id="tabRight" style="height:543px;width:100%;border:darkgray" >

                                   </div>
                               </div>
                           </div>

                       </div>

                   </div>

               </div>
           </div>
        </div>
    {% endblock %}



    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pager.css') }}">
    {% endblock %}

    {% block script %}
        <script src="{{ url_for('static',filename='js/data.js') }}"></script>
        <script src="{{ url_for('static',filename='js/top.js') }}"></script>
        <script type="text/javascript">
    function test(){$(".actions > .fa-chevron-down").click(function(){$(this).parent().parent().next().slideToggle("fast"),$(this).toggleClass("fa-chevron-down fa-chevron-up")})}
        test();
       $('.form_date').datetimepicker({
           language:'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
           startDate:2017-10-01
        });
    </script>
    {% endblock %}